%% -*- erlang -*-
%% vim: set filetype=erlang:
{sub_dirs, [ "apps/chatapp" ]}.
{lib_dirs, [ "apps/chatapp" ]}.
{dialyzer_opts, [{plt, "~/.rebar_dialyzer_plt"},
                 {warnings, []},
                 {from, byte_code}]}.
{erl_opts, [warn_missing_spec,
            debug_info,
            {i, "src"}
           ]}.
